/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

h1 {
	color: #fff;
}

.hanja {
	font-family: 'aquafont';
}

iframe {
	margin-top: 1.5em;
}

code {
	color: #000;
}

#green {
	background: url(image-path('green.gif')) repeat-x;
}

a {
	color: #87d9ac;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #fff;
}

/* Header
******************************/
#header {
	font-family: 'Hero';
	font-size: 2em;
	color: #a5f1c7;
	padding: .5em 0 .25em 0;
}

#header a {
	color: #000;
	font-size: 1.5em;
	text-decoration: none;
}

#header img {
	float: left;
	padding-right: 0.5em;
}

#header-container {
	width: 675px;
	margin: auto;
}

#offset {
	padding-top: 1em;
	margin-bottom: 1.5em;
}

.latte {
	color: #8bd0b0;
}

/* Navigation
******************************/
#navigation {
	clear: both;
	text-align: center;
	font-size: 2.5em;
	padding: 0.08em 0;
}

#navigation a {
	color: #a5dcbd;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}

#navigation a:hover {
	color: #fff;
}

/* Content
******************************/
#content {
	width: 80%;
	padding: 0 1.5em;
	margin: auto;
	background-color: #1b1b1b;
	box-shadow: 0px 0px 8px 0px #888;
}


/* Bottom
******************************/
#bottom {
	margin-top: 1em;
	text-align: center;
	font-family: 'Hero';
	font-size: 200%;
	text-align: center;
	padding: 0.25em 0;
}

#bottom a {
	color: #333;
	text-decoration: none;
}

#bottom img {
	border: 0;
}

/* Form
******************************/
input,
textarea {
	font: inherit;
	margin: 0;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
	height: 10em;
}

label {
	color: #fff;
}

/* Font imports
******************************/
@font-face {
	font-family: 'Hero';
	src: font-url('Hero.otf') format('opentype');
}

@font-face {
	font-family: 'aquafont';
	src: font-url('aquafont.ttf') format('truetype');
}